<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--
            <bean class="info.javalab.inutrihelp.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

            <bean class="info.javalab.inutrihelp.service.UserService">
                <property name="repository" ref="inmemoryUserRepository"/>
            </bean>
        -->

    <!-- Not necessary, already included with component-scan -->
    <!--<context:annotation-config/>-->

    <!--<context:component-scan base-package="info.javalab.**.repository.jdbc"/>-->


    <context:component-scan base-package="info.javalab.**.service"/>

    <context:component-scan base-package="info.javalab.**.web"/>

</beans>